$background: #F1F1F1;

html, body {
  background: $background;
  font-family: sans-serif;
}

* {
  font-family: sans-serif;
  font-weight: 300;
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

.content-wrapper {
  display: flex;
  height: 93vh;
  justify-content: center;
  align-items: center;
  background: $background;
  margin: 0 auto;
  padding: 0 2em;
}

.card {
  width: 30em;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 2px 3px 23px rgba(0, 0, 0, .1);
  padding: 1em 3em;
  transform-style: preserve-3d;

  // Compensate for the header
  margin-top: 4em;

  &.back {

  }
}

.card-content {
  text-align: center;

  .headline {
    font-weight: bold;
    font-size: 1.5em;
  }

  .pinyin {
    margin-top: 1em;
    font-size: 1.3em;
  }

  .notes {
    margin-top: 1em;
    font-size: 1em;
    color: #888;
  }
}

// Button
.button {
  cursor: pointer;
  padding: 0.5em 0.75em;
  background: $background;
  color: #444;
  margin-left: 0.5em;
  margin-right: 0.5em;

  &:hover {
    background: darken($background, 10%);
  }
}

// Header
$header-color: #666666;

.header {
  background: white;
  box-shadow: 7px 7px 22px lightgray;
  padding: 1em 0;
  display: flex;
  align-items: center;
  height: 3vh;
  color: $header-color;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: 400;

  span {
    font-size: 1.3em;
    cursor: pointer
  }
}

// Settings
.settings {

  width: 30em;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: 2px 3px 23px rgba(0, 0, 0, .1);
  padding: 1em 3em;
  transform-style: preserve-3d;

  // Compensate for the header
  margin-top: 4em;

  .title {
    position: absolute;
    top: 0.5em;
    left: 0.5em;

    font-size: 1.5em;
    font-weight: bold;
  }

  .close-button {
    cursor: pointer;

    position: absolute;
    top: 0.5em;
    right: 0.5em;

    font-weight: bold;
  }

  label {
    display: block;
  }
}